node-red/flows/aansturen_ventilator.json
[{"id":"7da6bb4a.384a14","type":"tab","label":"Aansturen ventilator","disabled":false,"info":""},{"id":"be74316c.9f217","type":"mqtt in","z":"7da6bb4a.384a14","name":"Domoticz IDX2 Ventilatie","topic":"domoticz/idx2/out","qos":"2","datatype":"auto","broker":"42f8914e.40c5a","x":190,"y":380,"wires":[["2f525fa8.8db17"]]},{"id":"2f525fa8.8db17","type":"switch","z":"7da6bb4a.384a14","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"0","vt":"str"},{"t":"cont","v":"1","vt":"str"},{"t":"cont","v":"2","vt":"str"},{"t":"cont","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":380,"wires":[["51d92094.8db6d","aa321b6d.f84778","407930b4.e623a"],["9081c85f.b69348","e54e1f77.dec07","7cbca750.72cb88"],["aca7a249.81692","ecea9846.23c298","7546d270.8944fc"],["b4914911.b9e928","df22a900.ed9488","caf03f4d.2eda9"]]},{"id":"ba5ab257.3ecd5","type":"mqtt out","z":"7da6bb4a.384a14","name":"Sonoff_4ch_1 MQTT in (Laag)","topic":"cmnd/sonoff4ch/power1","qos":"","retain":"","broker":"42f8914e.40c5a","x":930,"y":100,"wires":[]},{"id":"98a5721b.c3051","type":"mqtt out","z":"7da6bb4a.384a14","name":"Sonoff_4ch_1 MQTT in (Laag)","topic":"cmnd/sonoff4ch/power1","qos":"","retain":"","broker":"42f8914e.40c5a","x":930,"y":260,"wires":[]},{"id":"a7933b0b.3240f8","type":"mqtt out","z":"7da6bb4a.384a14","name":"Sonoff_4ch_1 MQTT in (Midden)","topic":"cmnd/sonoff4ch/power2","qos":"","retain":"","broker":"42f8914e.40c5a","x":930,"y":460,"wires":[]},{"id":"18b1264f.f630aa","type":"mqtt out","z":"7da6bb4a.384a14","name":"Sonoff_4ch_1 MQTT in (Hoog)","topic":"cmnd/sonoff4ch/power3","qos":"","retain":"","broker":"42f8914e.40c5a","x":930,"y":660,"wires":[]},{"id":"9081c85f.b69348","type":"change","z":"7da6bb4a.384a14","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":260,"wires":[["98a5721b.c3051"]]},{"id":"aca7a249.81692","type":"change","z":"7da6bb4a.384a14","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":460,"wires":[["a7933b0b.3240f8"]]},{"id":"b4914911.b9e928","type":"change","z":"7da6bb4a.384a14","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":660,"wires":[["18b1264f.f630aa"]]},{"id":"51d92094.8db6d","type":"change","z":"7da6bb4a.384a14","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":100,"wires":[["ba5ab257.3ecd5"]]},{"id":"4d3a0951.96eab8","type":"mqtt out","z":"7da6bb4a.384a14","name":"Sonoff_4ch_1 MQTT in (Midden)","topic":"cmnd/sonoff4ch/power2","qos":"","retain":"","broker":"42f8914e.40c5a","x":930,"y":140,"wires":[]},{"id":"aa321b6d.f84778","type":"change","z":"7da6bb4a.384a14","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":140,"wires":[["4d3a0951.96eab8"]]},{"id":"b05868ae.efba08","type":"mqtt out","z":"7da6bb4a.384a14","name":"Sonoff_4ch_1 MQTT in (Hoog)","topic":"cmnd/sonoff4ch/power3","qos":"","retain":"","broker":"42f8914e.40c5a","x":930,"y":180,"wires":[]},{"id":"407930b4.e623a","type":"change","z":"7da6bb4a.384a14","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":180,"wires":[["b05868ae.efba08"]]},{"id":"1ed507de.c97a78","type":"mqtt out","z":"7da6bb4a.384a14","name":"Sonoff_4ch_1 MQTT in (Midden)","topic":"cmnd/sonoff4ch/power2","qos":"","retain":"","broker":"42f8914e.40c5a","x":930,"y":300,"wires":[]},{"id":"e54e1f77.dec07","type":"change","z":"7da6bb4a.384a14","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":300,"wires":[["1ed507de.c97a78"]]},{"id":"3e05118b.fee48e","type":"mqtt out","z":"7da6bb4a.384a14","name":"Sonoff_4ch_1 MQTT in (Hoog)","topic":"cmnd/sonoff4ch/power3","qos":"","retain":"","broker":"42f8914e.40c5a","x":930,"y":340,"wires":[]},{"id":"7cbca750.72cb88","type":"change","z":"7da6bb4a.384a14","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":340,"wires":[["3e05118b.fee48e"]]},{"id":"7546d270.8944fc","type":"change","z":"7da6bb4a.384a14","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":420,"wires":[["38c41a63.441326"]]},{"id":"38c41a63.441326","type":"mqtt out","z":"7da6bb4a.384a14","name":"Sonoff_4ch_1 MQTT in (Laag)","topic":"cmnd/sonoff4ch/power1","qos":"","retain":"","broker":"42f8914e.40c5a","x":930,"y":420,"wires":[]},{"id":"f726b375.5194b","type":"mqtt out","z":"7da6bb4a.384a14","name":"Sonoff_4ch_1 MQTT in (Hoog)","topic":"cmnd/sonoff4ch/power3","qos":"","retain":"","broker":"42f8914e.40c5a","x":930,"y":500,"wires":[]},{"id":"ecea9846.23c298","type":"change","z":"7da6bb4a.384a14","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":500,"wires":[["f726b375.5194b"]]},{"id":"b3ae4551.111928","type":"mqtt out","z":"7da6bb4a.384a14","name":"Sonoff_4ch_1 MQTT in (Midden)","topic":"cmnd/sonoff4ch/power2","qos":"","retain":"","broker":"42f8914e.40c5a","x":930,"y":620,"wires":[]},{"id":"df22a900.ed9488","type":"change","z":"7da6bb4a.384a14","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":620,"wires":[["b3ae4551.111928"]]},{"id":"caf03f4d.2eda9","type":"change","z":"7da6bb4a.384a14","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":580,"wires":[["28f6807b.1f435"]]},{"id":"28f6807b.1f435","type":"mqtt out","z":"7da6bb4a.384a14","name":"Sonoff_4ch_1 MQTT in (Laag)","topic":"cmnd/sonoff4ch/power1","qos":"","retain":"","broker":"42f8914e.40c5a","x":930,"y":580,"wires":[]},{"id":"42f8914e.40c5a","type":"mqtt-broker","z":"","name":"Raspberry Pi3","broker":"192.168.5.30","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
