node-red/flows/sonoffs20.json
[{"id":"f56f646.3ca8498","type":"tab","label":"sonoffsw1","disabled":false,"info":""},{"id":"e638a86b.906b48","type":"mqtt in","z":"f56f646.3ca8498","name":"Domoticz IDX14 sonoffsw1","topic":"domoticz/idx14/out","qos":"2","datatype":"auto","broker":"42f8914e.40c5a","x":230,"y":120,"wires":[["b17eed95.8dd71"]]},{"id":"b17eed95.8dd71","type":"switch","z":"f56f646.3ca8498","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"0","vt":"str"},{"t":"cont","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":120,"wires":[["712ec7eb.6a40d8"],["59ca0ba5.c7dc44"]]},{"id":"ef639570.5c9268","type":"mqtt out","z":"f56f646.3ca8498","name":"sonoffsw1 MQTT in (power)","topic":"cmnd/sonoffsw1/power","qos":"","retain":"","broker":"42f8914e.40c5a","x":800,"y":80,"wires":[]},{"id":"712ec7eb.6a40d8","type":"change","z":"f56f646.3ca8498","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":80,"wires":[["ef639570.5c9268"]]},{"id":"fa745af7.f123c8","type":"mqtt out","z":"f56f646.3ca8498","name":"sonoffsw1 MQTT in (power)","topic":"cmnd/sonoffsw1/power","qos":"","retain":"","broker":"42f8914e.40c5a","x":800,"y":160,"wires":[]},{"id":"59ca0ba5.c7dc44","type":"change","z":"f56f646.3ca8498","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":160,"wires":[["fa745af7.f123c8"]]},{"id":"42f8914e.40c5a","type":"mqtt-broker","z":"","name":"Raspberry Pi3","broker":"192.168.5.30","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
